<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.7.2" />
    </startup>
  <appSettings>
    <add key="Modulus" value="440954124853361949113470266885235489470908030730661954559714429492268325235581" />
    <add key="KeyLengthInBytes" value="32" />
    <add key="ShadowNumberLengthInBytes" value="16" />
    <add key="KeyFileName" value="private_key" />
    <add key="ShadowFileName" value="shadow" />
  </appSettings>
</configuration>